.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 50%;
	margin: 1rem 0;
	background-repeat: no-repeat;
	
	outline: 1px solid gold;
}

#info-weather > p { 
	color: whitesmoke;
	text-shadow: 2px 2px 3px black;
}

#info-weather {
}

#info-city {
	font-size: 1.75rem;
}

#info-temp {
	font-size: 3rem;
	line-height: 2rem;
}

#info-HL {
}
