@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {	
	padding: 0;
  	margin: 0;	
	box-sizing: border-box;
	font-family: 'Inter', sans-serif; 
}

body {
	/* fit to mimic phone */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1e1e2d;
}

